#include <windows.h>
#include "resource.h"

// Ventana de inicio de sesión
DLG_LOGIN DIALOG 0, 0, 250, 150
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Inicio de sesión"
FONT 12, "MS Shell Dlg"
    LTEXT "Número de tarjeta:", IDC_STATIC, 10, 10, 100, 14
    EDITTEXT IDC_EDIT_CARD, 120, 10, 120, 14, ES_AUTOHSCROLL
    LTEXT "PIN:", IDC_STATIC, 10, 35, 100, 14
    EDITTEXT IDC_EDIT_PIN, 120, 35, 120, 14, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "Iniciar sesión", IDOK, 40, 70, 75, 20
    PUSHBUTTON "Cancelar", IDCANCEL, 130, 70, 75, 20
}

DLG_MAIN DIALOG 0, 0, 400, 200
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Cajero Automático"
FONT 12, "MS Shell Dlg"
{
    LTEXT "Información del usuario:", IDC_STATIC, 10, 10, 150, 14
    EDITTEXT IDC_EDIT_INFO, 10, 25, 380, 50, ES_MULTILINE | ES_READONLY | WS_BORDER
    LTEXT "Cantidad:", IDC_STATIC, 10, 85, 100, 14
    EDITTEXT IDC_EDIT_AMOUNT, 120, 85, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON "Retirar", IDC_BTN_WITHDRAW, 10, 110, 75, 20
    PUSHBUTTON "Depositar", IDC_BTN_DEPOSIT, 100, 110, 75, 20
    PUSHBUTTON "Transferir", IDC_BTN_TRANSFER, 190, 110, 75, 20
    PUSHBUTTON "Salir", IDCANCEL, 280, 110, 75, 20 // Botón Salir alineado con los demás botones
}

DLG_TRANSFER DIALOG 0, 0, 250, 150
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Transferencia de Fondos"
FONT 12, "MS Shell Dlg"
{
    LTEXT "Tarjeta destino:", IDC_STATIC, 10, 10, 100, 14
    EDITTEXT IDC_TRANSFER_CARD, 120, 10, 120, 14, ES_AUTOHSCROLL
    LTEXT "Cantidad:", IDC_STATIC, 10, 35, 100, 14
    EDITTEXT IDC_TRANSFER_AMOUNT, 120, 35, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON "Confirmar", IDC_TRANSFER_CONFIRM, 40, 70, 75, 20
    PUSHBUTTON "Cancelar", IDCANCEL, 130, 70, 75, 20
}
